/* heading ul */

ul  { margin: 0px ;
    padding: 0px;
    list-style: none;
    height: 36px ;
    line-height: 36px ;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px ;
    border-radius: 9px }

    /* heading li */

li { float: left; }

    a { display: block;
        margin: 0px;
        padding: 0 22px;
         ;
        margin: 1px 1px;
        color: #fff;
        text-decoration: none; 
        border-radius: 9px}
       
        a:hover {
            background-color:#156ee2; }
            
    input{ border: solid black;
        border-radius: 6px;
     margin-left: 60px;
    }        
            
